body {

  font-family: arial;

}

h1 {
  text-align: center;
  color: blue;
  font-size: 300%;
}

h2 {
  text-align: center;
  color: blue;
  font-size: 300%;
  font-weight: normal;
}

img {
  border: 8px solid;
  border-color: blue;
}

div {
  width:50%;
  margin: auto;
}